h1{
    color:greenyellow;
}
body{
background-color: blueviolet;
}
li{
font-size: 20px;
font-family: Arial;
color:greenyellow;
}

body{background-image: url("blacklion.jpg");
    background-size: 100%;
}
h2{
    color:greenyellow;
}
h3{
    color:greenyellow;
}
p{
    color:greenyellow;
}